{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<title>Change password</title>
{% endblock %}

{% block body %}

<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Change Password</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Change</button>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Don't want to change password? <a class="ml-2" href="{% url 'home:home' %}">Cancel</a>
				</small>
			</div>
		</div>

	</div>
</div>

{% endblock %}